body {
  font-family: "Arial", sans-serif;
}
.bg-light{
  border-radius: 50px;
}
.container {
 max-width: 50%;
 max-height: 50%;

}

.weather-info {
  background: #f8f9fa;
  padding: 15px;
  border-radius: 50px;
}

.forecast-heading {
  color: #007bff;
}

#error-message {
  font-weight: bold;
}

#forecast-display {
  font-size:smaller;
  display: flex;
  justify-content: center;
  align-items: center;
}