body {
  font-family: "Arial", sans-serif;
}
.bg-light{
  border-radius: 50px;
}
.container {
 max-width: 50%;
 max-height: 50%;
 background-color: rgba(255, 255, 255, 0); 
justify-content: center;
align-items: center;
}
.card{
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value for transparency */
  max-width: 75%;
  max-height: 75%;
  border-radius: 25px;
  justify-content: center;
  align-content: center;
}
.weather-info {
  background: #f8f9fa;
  padding: 15px;
  border-radius: 20px;
}

.forecast-heading {
  color: #007bff;
}

#error-message {
  font-weight: bold;
}

#forecast-display {
  font-size:smaller;
  display: flex;
  justify-content: center;
  align-items: center;
}